<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container box" style="width: 300px;margin-top: 100px;">
      <div class="group box">
          <div class="field">
              <label class="label">Enter Password
              <input type="number" (change)="updatepassword($event)" class="input" style="width: 150px; height: 30px;">
            </label>
          </div>

          <div class="field">
              <label class="checkbox">
                <input (click)="UpdateNumbers()" type="checkbox">
                Numbers
              </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input (click)="UpdateCapitals()" type="checkbox">
              Capital Letters
            </label>
        </div>

        <div class="field">
          <label class="checkbox">
            <input  (click)="UpdateLowers()" type="checkbox">
            Lower Letters
          </label>
      </div>

      <div class="field" >
        <label class="checkbox">
          <input (click)="UpdateSymbols()" type="checkbox">
          Symbols
        </label>
    </div>

    <div class="field" *ngIf="(PwdLength &&(isNumbers || isCaptitals || isLowers || isSymbols))">
      <button (click)="genartePassword()" class="button is-primary">Generate</button>
    </div>


     <div class="field" *ngIf="password">
       <label>
         Password <input disabled [value]="password" type="text">
       </label>
     </div>

      </div>
  </div>
</body>
</html>